.invisible
{
	opacity: 0;
	visibility: collapse;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.8s;
	transition-timing-function: ease-in-out;
}

.AddonLoadingRoot
{
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: clip;
}

.SeqImg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 50px;
	margin-left: 420px;
}

#CustomBg
{
	margin-top: 0px;
	margin-right: 400px;
		overflow: clip;
	pre-transform-scale2d: 1.0;
	animation-name: background_animation;
	animation-delay: 5s;
	animation-duration: 180s;
	animation-timing-function: linear;
	animation-iteration-count: 3;
}

#Shopkeeper
{
	margin-top: -249px;
	margin-left: 440px;
	width: 605px;
	height: 255px;
	animation-name: shopkeeper_animation;
	animation-delay: 15s;
	animation-duration: 90s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	transform-origin: 50% 50%;
}

#Gaben
{
	margin-top: -249px;
	margin-left: 440px;
	width: 605px;
	height: 255px;
	animation-name: shopkeeper_animation;
	animation-delay: 16s;
	animation-duration: 90s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	transform-origin: 50% 50%;
}

#ShowCommunityPanel
{
	width: 400px;
	height: 35px;
	margin-top: 60px;
	margin-left: 100px;
	flow-children: down;
	background-color: #111111;
	box-shadow: black -3px -3px 6px 6px;
	color: #ffffff;
}

#show_community_panel_button
{
	border-width: 0px;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2cc836 ), to( #4844ab4e ) );
	box-shadow: fill #486ca922 -4px -4px 8px 8px;
	border-top: 1px solid #ffffff03;
	border-left: 1px solid #ffffff03;
}

#show_community_panel_button:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2cc836 ), to( #06ee2c ) );
	box-shadow: fill #486ca966 -4px -4px 18px 8px;
}

#show_community_panel_button:active
{
	sound: "ui_team_select_lock_and_start";
}

#Community
{
	width: 400px;
	margin-top: 105px;
	margin-left: 100px;
	flow-children: down;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
	box-shadow: black -3px -3px 6px 6px;
	color: #ffffff;
}

.Header
{
	font-size: 24px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}

.CommunityImg
{
	margin-top: 5px;
	margin-bottom: 5px;
	horizontal-align: center;
}

.CommunityImg:active
{
	sound: "ui_team_select_lock_and_start";
}

.CommunityText
{
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	horizontal-align: left;
}

@keyframes 'background_animation'
{
	0%
	{
		transform: translateX( 0px ) translateY( 0px );
	}

	44%
	{
		transform: translateX( -400px ) translateY( 0px );
	}

	50%
	{
		transform: translateX( -400px ) translateY( 0px );
	}

	94%
	{
		transform: translateX( 0px ) translateY( 0px );
	}

	100%
	{
		transform: translateX( 0px ) translateY( 0px );
	}
}

@keyframes 'shopkeeper_animation'
{
	0%
	{
		transform: translateX( 0px ) translateY( 0px );
	}

	3%
	{
		transform: translateX( 0px ) translateY( 1500px );
	}

	4%
	{
		transform: translateX( 1500px ) translateY( 1500px );
	}

	15%
	{
		transform: translateX( 1500px ) translateY( 140px );
	}

	21%
	{
		transform: translateX( -1200px ) translateY( 140px );
	}

	30%
	{
		transform: translateX( -1200px ) translateY( 500px );
	}

	35%
	{
		transform: translateX( -600px ) translateY( 500px );
	}

	37%
	{
		transform: translateX( -600px ) translateY( 500px );
	}

	38%
	{
		transform: translateX( -1200px ) translateY( 500px );
	}

	39%
	{
		transform: translateX( -1200px ) translateY( 1500px );
	}

	54%
	{
		transform: translateX( -300px ) translateY( 1500px );
	}

	60%
	{
		transform: translateX( -300px ) translateY( 300px );
	}

	64%
	{
		transform: translateX( -300px ) translateY( 300px ) rotateZ(180deg);
	}

	65%
	{
		transform: translateX( 600px ) translateY( -500px );
	}

	66%
	{
		transform: translateX( 600px ) translateY( -100px );
	}

	77%
	{
		transform: translateX( 600px ) translateY( -100px );
	}

	80%
	{
		transform: translateX( 100px ) translateY( 600px );
	}

	81%
	{
		transform: translateX( -100px ) translateY( 400px );
	}

	82%
	{
		transform: translateX( -300px ) translateY( 300px );
	}

	83%
	{
		transform: translateX( 100px ) translateY( 100px );
	}

	84%
	{
		transform: translateX( 250px ) translateY( 300px );
	}

	85%
	{
		transform: translateX( 150px ) translateY( 500px );
	}

	86%
	{
		transform: translateX( -50px ) translateY( 750px );
	}

	87%
	{
		transform: translateX( -250px ) translateY( 550px );
	}

	88%
	{
		transform: translateX( -600px ) translateY( 400px );
	}

	89%
	{
		transform: translateX( -1200px ) translateY( -100px );
	}

	100%
	{
		transform: translateX( 0px ) translateY( 0px );
	}
}